global:
  resolve_timeout: 30m # Через сколько времени после исчезновения алерта он считается разрешённым

route:
  group_by: ['alertname'] # Группировка алертов по alertname
  group_wait: 30s # Ожидание перед отправкой первой группы алертов
  group_interval: 30m # Интервал между повторными уведомлениями
  receiver: default # Основной получатель по умолчанию

  routes:

   - receiver: 'telegram'
     group_wait: 30s
    #  match_re:
    #    severity: 'critical|warning'
     continue: true # Алерты продолжат передаваться в другие маршруты

  #  - receiver: 'mail'
  #    group_wait: 30s
  #   #  match_re:
  #   #    severity: 'critical'
  #    continue: true # Алерты продолжат передаваться в другие маршруты

receivers:

  - name: 'default' # Основной получатель заглушка

  - name: 'telegram'
    telegram_configs:
      - bot_token: '7407392706:AAFuCDaTdBe_LVO-dsdBVkiw7Z3e5QzxvyA'
        api_url: 'https://api.telegram.org'
        chat_id: 471106208
        parse_mode: 'HTML'
        message: |
          *Alert:* {{ .CommonAnnotations.summary }}
          *Description:* {{ .CommonAnnotations.description }}
          *Severity:* {{ .CommonLabels.severity }}
          *Time:* {{ .StartsAt }}
          *Labels:*
          {{ range .Labels.SortedPairs }} • {{ .Name }} = {{ .Value }}
          {{ end }}

  # - name: 'mail'
  #   email_configs:
  #     - smarthost: mail.example.ru:25
  #       hello: mail.example.ru
  #       to: 'root@servers.ru'
  #       from: 'alert@example.ru'
  #       auth_username: 'alert@example.ru'
  #       auth_password: '123456'
  #       require_tls: true
